@font-face {
    font-family: 'Norse';
    src: url('assets/fonts/Norse.woff2') format('woff2'),
        url('assets/fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('./assets/fonts/Norse-Bold.woff2') format('woff2'),
        url('./assets/fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html{
    font-family: monospace;
}

body{
    display: flex;
    height: 100vh;
    background-color: whitesmoke;
}

.left-panel{
    width: 35%;
    background-image: url('./assets/image.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-panel{
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: 10% 0;
}

.banner{
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    background: rgb(0 0 0 / 0.5);
}

.banner > h1{
    font-family: Norse, sans-serif;
    color: white;
    font-size: 5rem;
}

.banner > img {
    height: 100px;
    margin: 10px 5px;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: auto;
    color: white;
    font-size: 1rem;
}
footer a:link,a:visited{
    color: gray;
}
/*------------------------*/
/* right side */
/*------------------------*/


/*------------------------*/
/* Welcome text */
/*------------------------*/
.specialH3,
.form-heading{
    margin: 15px 0;
}

.welcome-text{
    margin: 40px;
}

/*------------------------*/
/* Form settings */
/*------------------------*/
.form-container{
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.1);
}

.form-heading{
    margin-bottom: 20px;
}

.form-columns{
    display: flex;
    gap: 60px;
    margin: 0;
}

.col1,.col2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.field{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.field label{
    font-size: 0.75rem;
    letter-spacing: 1px;
}

.field input {
    padding: 6px 8px;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
}

.field input:user-invalid{
    border-color: red;
}



/*------------------------*/
/* Bottom buttons */
/*------------------------*/

.bottom{
    padding: 30px;
}

.bottom > button{
    cursor: pointer;
    border: none;
    background-color: #596D48;
    color: white;
    border-radius: 6px;
    padding: 12px 28px;
    font-weight: bold;
}

.bottom button:hover{
    background-color: #435236;
}

.bottom > p{
    margin-top: 20px;
}

.bottom > p > a:link{
    color: #596D48;
    font-weight: bold;
    font-size: 1.15rem;
}
